@use "../colors" as*;

body{
    background-color: aliceblue;
}
.body{
    background-color: $myColor1;
    height: 30vh;
}
.board{
    margin-left: 40px;
    color: $myColor2;
    font-size: 30px;
}
#white-cards{
   margin-top: -50px;
}
.pry{
    margin-top: 10px;
}
.text{
    float: right;
}
.welcome{
    font-size: 24px;
    color: $myColor1;
}
.title{
    font-size: 15px;
    color: $myColor1;
}
.paragraph{
    font-size: 12px;
}
.value{
    float: right;
    font-style: normal;
}
.icon{
    float: right;
}
.sidenav-item{
    list-style-type: none;
    font-size: 15px;
}
.dash{
    color: $myColor1;
    font-weight: bold;
    margin-left: 10px;
}
.dash:hover{
    color: $myColor1;
}
.link{
    color: $myColor4;
    margin-left: 10px;
}
.item{
    color: $myColor;
    font-weight: bold;
}
.left{
    border-left: 1px solid $myColor4;
}
.arrow{
    float: right;
}
.update{
    float: right;
    background-color: $myColor3;
    border-radius: 8px;
    color: $myColor1;
}
#graph{
    float: right;
}











